#title {
  font-family: Georgia, serif;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 90px;
  color: #00008B;
  margin-left: 350px;
}

footer {
  font-family: Georgia, serif;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
  margin-bottom: 0px;
  text-align: center;
  font-size: small;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
}

#grid {
  height: 450px;
  width: 300px;
  border: 15px;
  padding: 50px;
  background: black;
  margin-top: 5px;
  margin-left: 10px;
  border: 1px solid #bc4dc6;
  border-radius: 5em;
}

button {
  font-family: Georgia, serif;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: Georgia, serif;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
  background: #eeb4e5;
  padding: 5px 0;
  border: 3px solid #bc4dc6;
  color: black;
  font-size: 10px;
  margin-left: 10px;
}

button:hover {
  border: 3px solid #bc4dc6;
  color: black;
  border-radius: 50em;
}

#help {
  padding: 20px 0;
  float: right;
  background: black;
  color: white;
}

#reset {
  padding: 20px 0;
  float: right;
  background: black;
  color: white;
}

#winner {
  font-family: Georgia, serif;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  width: auto;
  height: auto;
  position: absolute;
  margin-top: 130px;
  margin-left: 1025px;
  margin-right: 0px;
  font-weight: 1900;
  left: 5%;
  color: white;
  background: black;
}

#submit {
  float: none;
  margin-top: 30px;
  padding: 10px;
  background: white;
}

label {
  color: white;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(#bc4dc6), color-stop(#8e76e9), color-stop(#5294f9), color-stop(#00aaf7), to(#12bceb));
  background-image: linear-gradient(to right, #bc4dc6, #8e76e9, #5294f9, #00aaf7, #12bceb);
  background-image: url(https://i.pinimg.com/originals/19/41/64/194164d700735e36890fcb0ae6282c17.gif);
}

td {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

table {
  margin-top: 20px;
  margin-right: 140px;
  margin-left: auto;
  float: right;
}

.vert {
  border-left: 5px solid black;
  border-right: 5px solid black;
}

.hori {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

h2 {
  color: darkblue;
  font-size: 40px;
  font-family: Georgia, serif;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
}

h5 {
  color: pink;
  font-size: 20px;
}

h6 {
  color: pink;
  font-size: 20px;
}

p {
  color: black;
}

select {
  font-family: Georgia, serif;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-weight: 900;
  text-transform: uppercase;
  background: #eeb4e5;
  padding: 5px 0;
  border: 3px solid #bc4dc6;
  color: black;
  font-size: 10px;
  margin-left: 10px;
}

select:hover {
  border: 3px solid #bc4dc6;
  color: black;
  border-radius: 50em;
}

#new-game {
  margin-top: 40px;
  padding: 10px;
  margin-left: 80px;
  background: white;
}

#new-game:hover {
  color: white;
  background: black;
}

.btnmoon {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-image: url("/static/moonclip.png");
  background-size: cover;
}

.btnstar {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-image: url("starclip.png");
  background-size: cover;
}
/*# sourceMappingURL=firstattempt.css.map */