@mixin basics() {
    font-family: Georgia, serif;
    letter-spacing: 3px;
    word-spacing: 3px;
    font-weight: 900;
    text-transform: uppercase;
  }
  @mixin helpandreset() {
    padding: 20px 0;
    float: right;
    background: black;
    color: white;
  }
  @mixin buttonbasics(){
    @include basics();
    background:#eeb4e5;
    padding: 5px 0;
    border: 3px solid #bc4dc6;
    color: black;        
    font-size: 10px;
    margin-left: 10px;
    &:hover {
        border: 3px solid #bc4dc6;
        color: black;
        border-radius: 50em;
    }
  }

  #title {
        @include basics();
        font-size: 90px;
        color: #00008B;
        margin-left: 350px;
        
    }
    
    footer {
        @include basics();
        color: black;        
        margin-bottom: 0px;
        text-align: center;
        font-size: small;
        left: 0;
        bottom:0;
        position: fixed;
        width:100%;

    }
    #grid {
        height: 450px;
        width: 300px;
        border: 15px;
        padding: 50px;
        background: black;
        margin-top: 5px;
        margin-left: 10px;
        border: 1px solid #bc4dc6;
        border-radius: 5em
    }
    button {
        @include basics();
        @include buttonbasics();}
    #help{
        @include helpandreset();
    }

    #reset{
        @include helpandreset();
    }
    #winner{
        @include basics();
        display: inline-block; 
        width: auto;
        height:auto;
        position: absolute;         
        margin-top:130px;
        margin-left:1025px;
        margin-right:0px;
        font-weight: 1900;
        left: 5%; 
        text-transform: none;
        color:white;
        background:black;
    }
    #submit{
        float: none;
        margin-top:30px;
        padding: 10px;
        background:white;
        
    }
    label {
        color: white;
    }
    
    body {
        background-image:url("https://i.gifer.com/2iiH.gif");
       
    }
    
    td {
        width: 150px;
        height: 150px;
        cursor: pointer;
    }
    
    table {
        margin-top: 20px;
        margin-right: 140px;
        margin-left: auto;
        float: right;
    }
    
    .vert {
        border-left: 5px solid black;
        border-right: 5px solid black;
    }
    
    .hori {
        border-top: 5px solid black;
        border-bottom: 5px solid black;
    }      
    h2 {
        color: darkblue;
        font-size: 40px;
        @include basics();
    }
       
    h5 {
        color: pink;
        font-size: 20px;
    }
    
    h6 {
        color: pink;
        font-size: 20px;
    }    
     
    p {
        color: black;
    }
    
    select {
        @include buttonbasics();
    }
    
    #new-game {
        margin-top: 40px;
        padding: 10px;
        margin-left: 80px;
        background: white;
        &:hover {
            color: white;
            background: black;
        }
    }
    
    .btnmoon {
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
        margin-right: 4px;
        background-image: url("/static/moonclip.png");
        background-size: cover;
    }
    
    .btnstar {
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
        margin-right: 4px;
        background-image: url("starclip.png");
        background-size: cover;
    }
    
    