<!DOCTYPE html>

<head>

    <link rel="stylesheet" type="text/css" href="static/firstattempt.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        window.start = "no"

        function human(id) {
            if (start == "no") {
                window.alert("Choose the settings first and start a new game to start playing!");
                return null
            }
            if (opponent == "computer") {
                $(function() {
                    $.ajax({
                        type: 'POST',
                        url: "/ai",
                        data: {
                            1: id
                        },

                        success: function(data) {

                            if (data[0] != 0) {
                                click1 = 'moon' + id
                                document.getElementById(click1).src = "/static/moon.png"
                                if (data[0] != "None") {
                                    click2 = 'moon' + data[0]
                                    document.getElementById(click2).src = "/static/star.png"
                                }


                            } else {

                                if (data[1] != 0) {
                                    var i
                                    document.getElementById('moon' + id).src = "/static/moon.png"
                                    for (i = 0; i < 3; i++) {
                                        click1 = 'moon' + data[1][i]
                                        if (data[2] == "player") {
                                            document.getElementById(click1).src = "/static/star.png"
                                        } else {
                                            document.getElementById(click1).src = "/static/moon.png"
                                        }


                                    }
                                    var x;
                                    for (x of data[1]) {

                                        click = 'table' + x

                                        document.getElementById(click).style.background = "#C5B358";
                                    }
                                    sound = document.createElement("audio");
                                    win = "static/audio_file.mp3"
                                    lose = "static/lost.mp3"
                                    if (game == 1) {
                                        if (data[2] == "player") {
                                            sound.src = lose
                                        } else {
                                            sound.src = win
                                        }
                                    } else {
                                        if (data[2] == "player") {
                                            sound.src = win
                                        } else {
                                            sound.src = lose
                                        }
                                    }
                                    sound.volume = 0.1;
                                    sound.play();

                                }

                            }


                        }


                    });
                });




            } else {
                $(function() {
                    $.ajax({
                        type: 'POST',
                        url: "/human",
                        data: {
                            1: id
                        },

                        success: function(data) {
                            click = 'moon' + id
                            if (data[0] == "player1") {
                                document.getElementById(click).src = "/static/moon.png"
                            } else if (data[0] == "player2") {
                                document.getElementById(click).src = "/static/star.png"
                            }
                            if (data[1] != 0) {
                                var x;
                                for (x of data[1]) {

                                    click = 'table' + x

                                    document.getElementById(click).style.background = "#C5B358";
                                }
                                sound = document.createElement("audio");
                                sound.src = "static/audio_file.mp3"
                                sound.volume = 0.1;
                                sound.play();

                            }


                        }


                    });
                });




            }
        }


        $(document).ready(function() {
            $('form').on('submit', function(event) {
                $.ajax({
                        data: {
                            game: $('#game').val(),
                            opponent: $('#opponent').val(),
                            difficulty: $('#difficulty').val()

                        },
                        type: 'POST',
                        url: '/setting'
                    })
                    .done(function(data) {
                        window.opponent = data[1];
                        window.start = "yes"
                        window.game = data[0];
                        var i;
                        for (i = 1; i < 10; i++) {
                            click1 = 'moon' + i;
                            click2 = 'table' + i;
                            document.getElementById(click1).src = "https://i.dlpng.com/static/png/6434036_preview.png"
                            document.getElementById(click2).style.background = "";
                        }
                        if (data[0] == '2') {
                            document.getElementById("title").innerHTML = "Tac-Toe-Tic";
                        } else if (data[0] == '1') {
                            document.getElementById("title").innerHTML = "Tic-Tac-Toe";

                        }
                    });
                event.preventDefault();
            });
        });

        function refreshPage() {
            window.location.reload();
        }

        function refreshPage2(data) {
            if (data.value == 'friend') {
                document.getElementById("difficulty").style.visibility = "hidden";
                document.getElementById("difficultyid").style.visibility = "hidden";
            } else {
                document.getElementById("difficulty").style.visibility = "visible";
                document.getElementById("difficultyid").style.visibility = "visible";
            }


        }

        function difficulty() {
            document.getElementById("difficulty").visibility = hidden;
        }
    </script>

</head>



<header>
    <div id="title">Tic-Tac-Toe!</div>

</header>

<a href="../help" target="_blank"><button id="help">HELP</button></a>
<button id="help" type="submit" onClick="refreshPage()">Reset</button>


<body>
    <div>
        <table>
            <tr>

                <td id="table1" onclick="human(1)"><img id="moon1" style="width:100px"></td>
                <td class="vert" id="table2" onclick="human(2)"><img id="moon2" style="width:100px">
                </td>
                <td id="table3" onclick="human(3)"><img id="moon3" style="width:100px"></td>
            </tr>
            <tr>
                <td class="hori" id="table4" onclick="human(4)"><img id="moon4" style="width:100px"></td>
                <td class="vert hori" id="table5" onclick="human(5)"><img id="moon5" style="width:100px"></td>
                <td class="hori" id="table6" onclick="human(6)"><img id="moon6" style="width:100px"></td>
            </tr>
            <tr>
                <td id="table7" onclick="human(7)"><img id="moon7" style="width:100px"></td>
                <td class="vert" id="table8" onclick="human(8)"><img id="moon8" style="width:100px"></td>
                <td id="table9" onclick="human(9)"><img id="moon9" style="width:100px"></td>
            </tr>
        </table>
    </div>
    <form class="form-inline" id="grid">
        <!--First Name-->

        <div class="form-group">
            <label for="game"><h5>Game</h5></label>
            <select id="game">
                    <option value="1" selected>Tic-Tac-Toe</option>
                    <option value="2">Tac-Toe-Tic</option>
                    <option value="3">Last turn Tic-Tac-Toe</option>
                    
                </select>
        </div>
        <div class="form-group">
            <label for="opponent"><h5>Opponent</h5></label>
            <select id="opponent" class="form-control" onchange="refreshPage2(this)">
                    <option value="computer" selected>Play against computer</option>
                    <option value="friend">Play with friend</option>
                </select>
        </div>
        <div class="form-group">
            <label id="difficultyid" for="difficulty"><h5>Difficulty</h5></label>
            <select id="difficulty" class="form-control">
                <option value="1">Piece of cake</option>
                <option value="3">Medium</option>
                <option value="5">Hard</option>
                <option value="10" selected>Impossible</option>
            </select>
        </div>

        <button id="submit" type="submit" class="btn btn-default">New Game</button>
    </form>
</body>

<footer> Developed by Varshaa KS and Uma Meenakshi </footer>