<!DOCTYPE html>

<head>
    <title>Glitter Tic-Tac</title>
    <link rel="icon" type="image/png" href="/static/favicon2.png"/>
    <link rel="stylesheet" type="text/css" href="static/firstattempt.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        window.start = "no"
        window.moon = "/static/moon.png"
        window.star = "/static/star.png"
        window.firstturn=true
        window.iterative=0
        window.gamehasbeenplayedbefore=false

        function human(id, symbol) {
            if(iterative==0&&game==3 && id==5){
                window.alert("In Last turn tic-tac-toe,the first move cannot be in the centre square!")
                return null;
            }          
            iterative=1
            if (start == "no") {
                window.alert("Choose the settings first and start a new game to start playing!");
                return null
            }
            if (opponent == "computer") {//the opponent is ai
                $(function() {
                    $.ajax({
                        type: 'POST',
                        url: "/ai",
                        data: {
                            1: id,
                            2: symbol

                        },
                        beforeSend: function() {
                            document.documentElement.style.cursor = 'wait';
                            for (i = 0; i < 9; i++) {
                                document.getElementsByTagName("td")[i].style.cursor = "wait";
                            }

                        },

                        success: function(data) {                           
                            document.documentElement.style.cursor = 'pointer';
                            for (i = 0; i < 9; i++) {
                                document.getElementsByTagName("td")[i].style.cursor = "pointer";
                            }
                            if(data[0]=='None'&&data[1]==0&&data[2]==0){tie(0,0,0)} //tie
                            if (data[0] != 0) { //There is no winner, no tie and there are moves left
                                if (game != 3) {
                                    click1 = 'moon' + id
                                    document.getElementById(click1).src = moon
                                    if (data[0] != "None") {
                                        click2 = 'moon' + data[0]
                                        document.getElementById(click2).src = star
                                    }
                                } else {

                                    click1 = 'moon' + id
                                    if (data[3][1] == "x") {
                                        document.getElementById(click1).src = star
                                    } else {
                                        document.getElementById(click1).src = moon
                                    }
                                                                   
                                    disablebuttons(false,id)
                                    if (data[0] != "None") {
                                        click4 = 'moon' + data[0]
                                        if (data[3][0] == "x") {
                                            document.getElementById(click4).src = star
                                        } else {
                                            document.getElementById(click4).src = moon
                                        }
                                        disablebuttons(false,data[0])
                                    }
                                    

                                }



                            } else {//There is a winner or its a null move

                                if (data[1] != 0) {//There is a winner                                 

                                    var x;
                                    for (x of data[1]) {

                                        click = 'table' + x
                                        click1 = 'moon' + x
                                        document.getElementById(click).style.background = "#FF1493";
                                        if (game != 3) {
                                            if (data[2] == 'player') {
                                                document.getElementById(click1).src = star;
                                            } else {
                                                document.getElementById(click1).src = moon;
                                            }
                                        }


                                    }
                                    if (game == 3) {
                                        click1 = 'moon' + id                                    
                                        if (data[3][1] == "x") {
                                            document.getElementById(click1).src = star;
                                            disablebuttons(false,id)
                                        } else if (data[3][1] == "o") {
                                            document.getElementById(click1).src = moon
                                            disablebuttons(false,id)
                                        }
                                        click2 = 'moon' + data[3][2]
                                        if (data[3][0] == "x") {
                                            document.getElementById(click2).src = star
                                            disablebuttons(false,data[3][2])
                                        } else if (data[3][0] == "o") {                                
                                            document.getElementById(click2).src = moon
                                            disablebuttons(false,data[3][2])
                                        }
                                        

                                    }
                                    sound = document.createElement("audio");
                                    win = "static/audio_file.mp3"
                                    lose = "static/lost.mp3"
                                    if (game == 1 || game == 3) {
                                        if (data[2] == "player") {
                                            document.getElementById("winner").innerHTML="This is you right now <br> (ಥ ͜ʖಥ) <br>, isn't? Sucks to lose lol"
                                            sound.src = lose
                                        } else {
                                            sound.src = win
                                            document.getElementById("winner").innerHTML="This is me <br> ᕕ༼✪ل͜✪༽ᕗ So proud of your win kiddo"
                                        }
                                    } else {
                                        if (data[2] == "player") {
                                            sound.src = win
                                            document.getElementById("winner").innerHTML="Ah the taste of victory <br>(◕‿◕✿)"
                                        } else {
                                            sound.src = lose
                                            document.getElementById("winner").innerHTML="Me: You Lose <br> You: ( ⚈̥̥̥̥̥́⌢⚈̥̥̥̥̥̀) "
                                        }
                                    }
                                    sound.volume = 0.1;
                                    sound.play();

                                }
                                if(data[0]==0 && data[1]==0){//moves are over but have to update the previous moves
                                    if(data[2]!=0){
                                        click='moon'+id
                                        if(game!=3){
                                            document.getElementById(click).src = moon
                                        }
                                        else{
                                            disablebuttons(false,id);
                                            if(symbol=='x'){document.getElementById(click).src = star
                                            }
                                            else{document.getElementById(click).src = moon}
                                        }
                                                                               
                                    }
                                }

                            }


                        }


                    });
                });




            } else { //opponent is human
                $(function() {
                    $.ajax({
                        type: 'POST',
                        url: "/human",
                        data: {
                            1: id,
                            2: symbol
                        },

                        success: function(data) {
                            if(data[0]=="tie"){                               
                                tie(id,data[1],symbol);
                                return 0;
                            }
                            console.log(data)
                            if (data[0] != 0) {// there is no winner yet and the move is not a null move
                                click = 'moon' + id
                                if (game != 3) {
                                    if (data[0] == "player1") {
                                        document.getElementById(click).src = moon;
                                        document.getElementById("winner").innerHTML="Its Player 2's chance!"
                                    } else if (data[0] == "player2") {
                                        document.getElementById(click).src = star;
                                        document.getElementById("winner").innerHTML="Its Player 1's chance!"
                                    }
                                } else {
                                    if (symbol == 'x') {
                                        document.getElementById(click).src = star;
                                    } else {
                                        document.getElementById(click).src = moon;
                                    }
                                    disablebuttons(false,id)

                                }
                            }
                            if (data[1] != 0) {//winner
                                click = 'moon' + id
                                if (data[2] == "player1") {
                                        document.getElementById(click).src = moon;
                                        document.getElementById("winner").innerHTML="Player1 is a mighty fella! The moon wins after all"
                            }   else if (data[2] == "player2") {
                                        document.getElementById(click).src = star;
                                        document.getElementById("winner").innerHTML="Player2 is marvellous! The glitter of the stars defeated the moon!"
                                }
                                var x;
                                for (x of data[1]) {
                                    click = 'table' + x
                                    document.getElementById(click).style.background = "#FF1493";
                                    
                                }
                                sound = document.createElement("audio");
                                sound.src = "static/audio_file.mp3"
                                sound.volume = 0.1;
                                sound.play();

                            }


                        }


                    });
                });




            }
        }


        $(document).ready(function() {
            $('form').on('submit', function(event) {
                $.ajax({
                        data: {
                            game: $('#game').val(),
                            opponent: $('#opponent').val(),
                            difficulty: $('#difficulty').val()

                        },
                        type: 'POST',
                        url: '/setting'
                    })
                    .done(function(data) {

                        document.getElementById("winner").innerHTML="Tic Tac Toe with extra glitter <br><br>  ( ͡~ ͜ʖ ͡°)<br>"
                        window.opponent = data[1];
                        window.start = "yes"
                        window.game = data[0];
                        if(game==3){
                            gamehasbeenplayedbefore= true; //this is used to make the moon and star buttons disappear once last turn tic tac toe is over
                        }
                        iterative=0 // this is to make sure the first move in last turn tic tac toe is not in centre
                        if(opponent=="friend"&&game!=3){
                            document.getElementById("winner").innerHTML="First player gets moon and second player gets stars!"
                        }
                        var i;
                        for (i = 1; i < 10; i++) {
                            click1 = 'moon' + i;
                            click2 = 'table' + i;
                            document.getElementById(click1).src = ""
                            document.getElementById(click2).style.background = "";
                        }
                        if (data[0] == '2') {
                            document.getElementById("title").innerHTML = "Tac-Toe-Tic!";
                            document.getElementById("title").style.marginLeft = "350px";
                        } else if (data[0] == '1') {
                            document.getElementById("title").innerHTML = "Tic-Tac-Toe!";
                            document.getElementById("title").style.marginLeft = "350px";
                        } else {
                            document.getElementById("title").innerHTML = "Last turn Tic-Tac-Toe!";
                            document.getElementById("title").style.marginLeft = "20px";
                        }
                        gamesettings(game);


                    });
                event.preventDefault();
            });
        });

        function refreshPage() {
            window.location.reload();
        }

        function difficulty_setting(data) {
            if (data.value == 'friend') {
                document.getElementById("difficulty").style.visibility = "hidden";
                document.getElementById("difficultyid").style.visibility = "hidden";
            } else {
                document.getElementById("difficulty").style.visibility = "visible";
                document.getElementById("difficultyid").style.visibility = "visible";
            }


        }

        function gamesettings(game) {
            if (game == 3) {
                window.clickarray=[]
                for (i = 1; i < 10; i++) {
                    var click1 = 'table' + i;
                    var click2 = 'symbolmoon' + i
                    var click3 = 'symbolstar' + i 
                    clickarray.push(document.getElementById(click1).onclick)   
                    console.log(clickarray[i])                
                    document.getElementById(click1).onclick = null;
                    document.getElementById(click2).disabled = false;
                    document.getElementById(click3).disabled = false;
                    document.getElementById(click2).style.visibility = "visible";
                    document.getElementById(click3).style.visibility = "visible";
                }
            } else {

                disablebuttons(false,0)
            }
        }
        $(document).ready(function() {
            disablebuttons(true,0)
        });

        function disablebuttons(start,id) {
            var i
            for (i = 1; i < 10; i++) {
                if(id!=0){i=id
                console.log("first if")}
                var click1 = 'table' + i;
                var click2 = 'symbolmoon' + i
                var click3 = 'symbolstar' + i
                if(!start&&id==0&&gamehasbeenplayedbefore){
                    document.getElementById(click1).onclick= clickarray[i-1]}
                document.getElementById(click2).disabled = true;
                document.getElementById(click3).disabled = true;
                document.getElementById(click2).style.visibility = "hidden";
                document.getElementById(click3).style.visibility = "hidden";
                if(id!=0){break;}
            }
        }
        function tie(id,player,symbol){ 
            if(id!=0){
                click = 'moon' + id
                if (game != 3) {
                   if (player == "player1") {
                        document.getElementById(click).src = moon;}
                    else{document.getElementById(click).src = star;    }
                                           
                     
                 } else {
                       if (symbol == 'x') {
                           document.getElementById(click).src = star;
                        } else {
                         document.getElementById(click).src = moon;
                         }
                        disablebuttons(false,id)

                        }    
            }                            
            
            
            document.getElementById("winner").innerHTML="Aww shucks it's a tie <br> ¯\_| ✖ 〜 ✖ |_/¯"
            sound = document.createElement("audio");                                    
            sound.src = "static/lost.mp3"
            sound.volume = 0.1;
            sound.play();}
    </script>

</head>



<header>
    <div id="title">Tic-Tac-Toe!</div>

</header>

<div></div><a href="../help" target="_blank"><button id="help">HELP</button></a>
<button id="reset" type="submit" onClick="refreshPage()">Reset</button></div>
<div id="winner"> Tic Tac Toe with extra glitter <br><br>    ( ͡~ ͜ʖ ͡°)<br> </div>



<body>
    <div>
        <table id="table">
            <tr>

                <td id="table1" onclick="human(1,'0')">
                    <button type="button" class="btnmoon" id="symbolmoon1" onclick="human(1,'o')"></button>
                    <button type="button" class="btnstar" id="symbolstar1" onclick="human(1,'x')"></button>
                    <img id="moon1" style="width:100px "></td>
                <td class="vert" id="table2" onclick="human(2,0) ">
                    <button type="button" class="btnmoon" id="symbolmoon2" onclick="human(2,'o')"></button>
                    <button type="button" class="btnstar" id="symbolstar2" onclick="human(2,'x')"></button>
                    <img id="moon2" style="width:100px ">
                </td>
                <td id="table3" onclick="human(3,0) ">
                    <button type="button" class="btnmoon" id="symbolmoon3" onclick="human(3,'o')"></button>
                    <button type="button" class="btnstar" id="symbolstar3" onclick="human(3,'x')"></button>
                    <img id="moon3" style="width:100px "></td>
            </tr>
            <tr>
                <td class="hori" id="table4" onclick="human(4,0)">
                    <button type="button" class="btnmoon" id="symbolmoon4" onclick="human(4,'o')"></button>
                    <button type="button" class="btnstar" id="symbolstar4" onclick="human(4,'x')" onclick="human(1,star)"></button>
                    <img id="moon4" style="width:100px "></td>
                <td class="vert hori" id="table5" onclick="human(5,0) ">
                    <button type="button" class="btnmoon" id="symbolmoon5" onclick="human(5,'o')"></button>
                    <button type="button" class="btnstar" id="symbolstar5" onclick="human(5,'x')"></button><img id="moon5" style="width:100px "></td>
                <td class="hori" id="table6" onclick="human(6,0) ">
                    <button type="button" class="btnmoon" id="symbolmoon6" onclick="human(6,'o')"></button>
                    <button type="button" class="btnstar" id="symbolstar6" onclick="human(6,'x')"></button><img id="moon6" style="width:100px "></td>
            </tr>
            <tr>
                <td id="table7" onclick="human(7,0) ">
                    <button type="button" class="btnmoon" id="symbolmoon7" onclick="human(7,'o')"></button>
                    <button type="button" class="btnstar" id="symbolstar7" onclick="human(7,'x')"></button><img id="moon7" style="width:100px "></td>
                <td class="vert" id="table8" onclick="human(8,0) ">
                    <button type="button " class="btnmoon" id="symbolmoon8" onclick="human(8,'o')"></button>
                    <button type="button " class="btnstar" id="symbolstar8" onclick="human(8,'x')"></button><img id="moon8" style="width:100px "></td>
                <td id="table9" onclick="human(9,0) ">
                    <button type="button" class="btnmoon" id="symbolmoon9" onclick="human(9,'o')"></button>
                    <button type="button" class="btnstar" id="symbolstar9" onclick="human(9,'x')"></button><img id="moon9" style="width:100px "></td>
            </tr>
        </table>
    </div>
    <form class="form-inline" id="grid">
        <!--First Name-->

        <div class="form-group">
            <label for="game"><h5>Game</h5></label>
            <select id="game">
                    <option value="1" selected>Tic-Tac-Toe</option>
                    <option value="2">Tac-Toe-Tic</option>
                    <option value="3">Last turn Tic-Tac-Toe</option>
                    
                </select>
        </div>
        <div class="form-group">
            <label for="opponent"><h5>Opponent</h5></label>
            <select id="opponent" class="form-control" onchange="difficulty_setting(this)">
                    <option value="computer" selected>Play against computer</option>
                    <option value="friend">Play with friend</option>
                </select>
        </div>
        <div class="form-group">
            <label id="difficultyid" for="difficulty"><h5>Difficulty</h5></label>
            <select id="difficulty" class="form-control">
                <option value="0">Piece of cake</option>
                <option value="2">Easy</option>
                <option value="5">Hard</option>
                <option value="10" selected>Impossible</option>
            </select>
        </div>

        <button id="submit" type="submit" class="btn btn-default">New Game</button>
    </form>
</body>

<footer> Developed by Varshaa KS and Uma Meenakshi </footer>
