<!DOCTYPE html>

<head>
    <title>Tic-Tac_Toe</title>
    <link rel="stylesheet" type="text/css" href="static/firstattempt.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        window.start = "no"

        function human(id) {
            if (start == "no") {
                window.alert("Choose the settings first and start a new game to start playing!");
                return null
            }
            if (opponent == "computer") {
                console.log("computer")
                $(function() {
                    $.ajax({
                        type: 'POST',
                        url: "/ai",
                        data: {
                            1: id
                        },

                        success: function(data) {

                            if (data != 0) {
                                click1 = 'moon' + id
                                document.getElementById(click1).src = "/static/moon.png"
                                click2 = 'moon' + data
                                document.getElementById(click2).src = "/static/star.png"

                            }


                        }


                    });
                });




            } else {
                $(function() {
                    $.ajax({
                        type: 'POST',
                        url: "/human",
                        data: {
                            1: id
                        },

                        success: function(data) {
                            click = 'moon' + id

                            if (data == "player1") {
                                document.getElementById(click).src = "/static/moon.png"
                            } else if (data == "player2") {
                                document.getElementById(click).src = "/static/star.png"
                            }
                        }


                    });
                });




            }
        }


        $(document).ready(function() {
            $('form').on('submit', function(event) {
                $.ajax({
                        data: {
                            game: $('#game').val(),
                            opponent: $('#opponent').val(),
                            difficulty: $('#difficulty').val()

                        },
                        type: 'POST',
                        url: '/setting'
                    })
                    .done(function(data) {
                        window.opponent = data;
                        window.start = "yes"
                        var i;
                        for (i = 1; i < 10; i++) {
                            click1 = 'moon' + i;
                            console.log(click1)
                            document.getElementById(click1).src = "https://i.dlpng.com/static/png/6434036_preview.png"

                        }
                    });
                event.preventDefault();
            });
        });
    </script>

</head>



<header>
    <div id="title">Tic-Tac-Toe!</div>
</header>
<button id="help" onclick="help()">HELP</button></a>

<body>
    <div>
        <table>
            <tr>

                <td id="00 " onclick="human(1)"><img id="moon1" style="width:100px"></td>
                <td class="vert" id="01 " onclick="human(2)"><img id="moon2" style="width:100px">
                </td>
                <td id="02 " onclick="human(3)"><img id="moon3" style="width:100px"></td>
            </tr>
            <tr>
                <td class="hori" id="10" onclick="human(4)"><img id="moon4" style="width:100px"></td>
                <td class="vert hori" id="11" onclick="human(5)"><img id="moon5" style="width:100px"></td>
                <td class="hori" id="12" onclick="human(6)"><img id="moon6" style="width:100px"></td>
            </tr>
            <tr>
                <td id="20" onclick="human(7)"><img id="moon7" style="width:100px"></td>
                <td class="vert" id="21" onclick="human(8)"><img id="moon8" style="width:100px"></td>
                <td id="22" onclick="human(9)"><img id="moon9" style="width:100px"></td>
            </tr>
        </table>
    </div>
    <form class="form-inline" id="grid">
        <!--First Name-->

        <div class="form-group">
            <label for="game"><h5>Game</h5></label>
            <select id="game">
                    <option value="1">Tic-Tac-Toe</option>
                    <option value="2" selected>Tac-Toe-Tic</option>
                    <option value="3">Number Tic-Tac-Toe</option>
                    
                </select>
        </div>
        <div class="form-group">
            <label for="opponent"><h5>Opponent</h5></label>
            <select id="opponent" class="form-control">
                    <option value="computer">Play against computer</option>
                    <option value="friend">Play with friend</option>
                </select>
        </div>
        <div class="form-group">
            <label for="difficulty"><h5>Difficulty</h5></label>
            <select id="difficulty" class="form-control">
                <option value="1">Piece of cake</option>
                <option value="3" selected>Medium</option>
                <option value="5">Hard</option>
                <option value="8">Impossible</option>
            </select>
        </div>

        <button type="submit" class="btn btn-default">New Game</button>
    </form>
</body>
<footer> Developed by Varshaa KS and Uma Meenakshi </footer>