<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="static/firstattempt.css">
<header>
    <div id="title">Rules Page</div>
</header>

<body>
    <p id="rules_page">
        <h2>RULES FOR TIC-TAC-TOE :</h2> 1. The game is played on a grid that's 3 squares by 3 squares.
        <br> 2. You are O(moon), your friend (or the computer ) is X(star). Players take turns putting their marks in empty squares.
        <br> 3. The first player to get 3 of her marks in a row (up, down, across, or diagonally) is the winner.
        <br> 4. When all 9 squares are full, the game is over. If no player has 3 marks in a row, the game ends in a tie.
        <br>
        <h2>RULES FOR TAC-TIC-TOE:</h2> Here instead of getting three in a row, you should try not to get three in a row. If you get three in a row, you lose!
        <br>
        <h2>RULES FOR 'YOUR CHOICE TIC-TAC-TOE' :</h2> What’s the same as playing the regular game is that you take turns as you usually do. What’s different is that you don’t start by deciding who is X(star)and who is O(moon). Instead, on your turn, you may write either
        an X(star) or an O(moon) in any empty square, and you can change your mind from turn to turn. So can your opponent. Also, you cannot place the first move on the centre square. The winner is the same as in the regular game―whoever completes a row with three Xs(stars) or three Os (moons) wins―whether or not that player actually wrote
        them all.<br>
    </p>
</body>