<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="static/firstattempt.css">
<header>
    <div id="title">Rules Page</div>
</header>

<body>
    <p id="rules_page">
        <h2>RULES FOR TIC-TAC-TOE :</h2> 1. The game is played on a grid that's 3 squares by 3 squares.
        <br> 2. You are X, your friend (or the computer in this case) is O. Players take turns putting their marks in empty squares.
        <br> 3. The first player to get 3 of her marks in a row (up, down, across, or diagonally) is the winner.
        <br> 4. When all 9 squares are full, the game is over. If no player has 3 marks in a row, the game ends in a tie.
        <br>
        <h2>RULES FOR TAC-TIC-TOE:</h2> Here instead of getting three in a row, you should try not to get three in a row. If you get three in a row, you lose!
        <br>
        <h2>RULES FOR 'YOUR CHOICE TIC-TAC-TOE' :</h2> What’s the same as playing the regular game is that you take turns as you usually do. What’s different is that you don’t start by deciding who is X and who is O. Instead, on your turn, you may write either
        an X or an O in any empty square, and you can change your mind from turn to turn. So can your opponent. The winner is the same as in the regular game―whoever completes a row with three Xs or three Os wins―whether or not that player actually wrote
        them all.<br>
    </p>
</body>